<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>更新密码</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{../CSS/check.css}">
</head>
<body>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">修改密码</h4>
</div>
<div id="div">
<!--    th:action="@{/updatePassword(stu_number=${session.personInfo.stu_number})}" method="post"-->
    <div id="formList">
        <div class="form-group" method="post">
            <label for="old">当前密码:</label>
            <input type="password" class="form-control" id="old" name="stu_password" required>
            <span style="font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;color: red;font-size: 15px" id="oldPwd"></span>
        </div>
        <div class="form-group">
            <label for="new">新密码:</label>
            <input id="new" type="password" class="form-control" name="re_stu_password" required>
            <span style="font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;color: red;font-size: 15px" id="newPwd"></span>
        </div>
        <div class="form-group">
            <label for="reSure">新密码确认:</label>
            <input id="reSure" type="password" class="form-control" name="re_stu_password1" required>
            <span style="font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;color: red;font-size: 15px" id="reSurePwd"></span>
        </div>
        <div class="form-group">
            <label for="input">验证码:</label>
            <div class="form-group row" style="padding: 18px">
                <input class="form-control col-sm-10 col-form-label" type="text" id="input" required/>
                <input class="col-sm-2 col-form-label" for="exampleInput" type="button" id="code"/>
            </div>
        </div>
        <button id="check1" class="btn btn-primary">保存</button>
    </div>
</div>
<script type="text/javascript" th:src="@{../js/updatePassword.js}"></script>
<script type="text/javascript" th:src="@{../js/jquery-1.8.3.js}"></script>
</body>
</html>