<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>实验室子系统</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Simplest is - Professional A unique and beautiful collection of UI elements">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/uikit.css}" href="../static/css/uikit.css">
    <link rel="stylesheet" th:href="@{/css/public.css}" href="../static/css/public.css">

    <!-- icons
    ================================================== -->
    <link rel="stylesheet" href="../assets/css/icons.css">
    <script src="https://s1.pstatp.com/cdn/expire-1-M/font-awesome/5.4.1/js/all.min.js" crossorigin="anonymous"></script>

    <!-- Google font
    ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!--    Bootstrap4-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script th:src="@{https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js}"></script>
    <script th:src="@{https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script th:src="@{js/onclick.js}"></script>

</head>

<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- sidebar -->
    <div class="main_sidebar">
        <div class="side-overlay" uk-toggle="target: #wrapper ; cls: collapse-sidebar mobile-visible"></div>

        <!-- sidebar header -->
        <div class="sidebar-header">

            <!-- Logo-->
            <div id="logo">
                <h4 style="color: white">实验室子系统</h4>
            </div>
            <span class="btn-close" uk-toggle="target: #wrapper ; cls: collapse-sidebar mobile-visible"></span>
        </div>

        <!-- 菜单栏 -->
        <div class="sidebar">
            <div class="sidebar_innr" data-simplebar>

                <div class="sections">
                    <ul>
                        <li>
                            <a th:href="@{/root_home}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path fill="#047cac" d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z"></path>
                                </svg>
                                首页 </a>
                        </li>
                        <li  class="active">
                            <a th:href="@{/findByAchievementPage}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path fill="#8bc34a"
                                          d="M22,16V4A2,2 0 0,0 20,2H8A2,2 0 0,0 6,4V16A2,2 0 0,0 8,18H20A2,2 0 0,0 22,16M11,12L13.03,14.71L16,11L20,16H8M2,6V20A2,2 0 0,0 4,22H18V20H4V6">
                                    </path>
                                </svg> 实验成果管理 </a>
                        </li>
                        <li>
                            <a th:href="@{/findByApplyPage}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path fill="#009688"
                                          d="M21,9A1,1 0 0,1 22,10A1,1 0 0,1 21,11H16.53L16.4,12.21L14.2,17.15C14,17.65 13.47,18 12.86,18H8.5C7.7,18 7,17.27 7,16.5V10C7,9.61 7.16,9.26 7.43,9L11.63,4.1L12.4,4.84C12.6,5.03 12.72,5.29 12.72,5.58L12.69,5.8L11,9H21M2,18V10H5V18H2Z">
                                    </path>
                                </svg> 实验室申请管理 </a>
                        </li>
                        <!--<li>-->
                            <!--<a href="day_duty.html">-->
                                <!--<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">-->
                                    <!--<path fill="#f25e4e"-->
                                          <!--d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z">-->
                                    <!--</path>-->
                                <!--</svg> 值班管理 </a>-->
                        <!--</li>-->
                        <li>
                            <a th:href="@{/findByCheckInPage}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path fill="#03A9F4"
                                          d="M16.5,9L13.5,12L16.5,15H22V9M9,16.5V22H15V16.5L12,13.5M7.5,9H2V15H7.5L10.5,12M15,7.5V2H9V7.5L12,10.5L15,7.5Z">
                                    </path>
                                </svg> 出入管理 </a>
                        </li>
                    </ul>

                </div>

            </div>

        </div>

    </div>

    <!-- 容器 -->
    <div class="main_content">

        <!-- header -->
        <div id="main_header">
            <header>
                <div class="header-innr">
                    <!-- Logo-->
                    <div class="header-btn-traiger is-hidden" uk-toggle="target: #wrapper ; cls: collapse-sidebar mobile-visible">
                        <span></span></div>
                    <!-- Logo-->
                    <div id="logo">
                        菜单栏
                    </div>
                    <h2 style="margin: auto">实验成果管理</h2>
                </div>
            </header>

        </div>

        <!--内容区-->
             <div>

                 <!--搜索-->
                 <form th:action="@{/searchAchieveByName}">
                     <div class="input-group mb-3 " style="width: 40%;margin-top: 1%;">
                         <input name="search_name" type="text" class="form-control" placeholder="请输入成果查找..." id="demo" >
                         <div class="input-group-append">
                             <!--<span class="input-group-text">搜索</span>-->
                             <input type="submit" value="搜索"  class="btn btn-success">
                         </div>
                     </div>
                 </form>

                 <div>
                     <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal_add">添加</button>
                     <a th:href="@{/findByAchievementPage}"><button type="button" class="btn btn-primary">查看全部</button></a>
                 </div>

                 <!--表格内容区-->
                 <div class="table-responsive">
                     <table class="table table-hover">

                         <thead>
                         <tr>
                             <th>编号</th>
                             <th>成果名称</th>
                             <th>奖项</th>
                             <th>团队类型</th>
                             <th>团队名称</th>
                             <th>团队负责人</th>
                             <th>团队队员</th>
                             <th>负责人电话</th>
                             <th>具体内容</th>
                             <th>汇报日期</th>
                             <th>所属团队编号</th>
                             <th>操作</th>

                         </tr>
                         </thead>
                         <tbody>
                         <tr th:each="achieve:${achieves}">
                             <td th:text="${achieve.id}"></td>
                             <td th:text="${achieve.achieve}"></td>
                             <td th:text="${achieve.prize}"></td>
                             <td th:text="${achieve.team_type}"></td>
                             <td th:text="${achieve.team_name}"></td>
                             <td th:text="${achieve.team_leader}"></td>
                             <td th:text="${achieve.team_member}"></td>
                             <td th:text="${achieve.mem_phone}"></td>
                             <td th:text="${achieve.detail}"></td>
                             <td th:text="${#dates.format(achieve.time,'yyyy-MM-dd')}"></td>
                             <td th:text="${achieve.team_id}"></td>
                             <td>
                                 <!--<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal_edit">编辑</button>-->
                                 <a th:onclick="return updateConfirm()" th:href="@{/toupdateAchieve/}+${achieve.id}" type="button" class="btn btn-info">
                                     编辑
                                 </a>

                                 <a  th:onclick="return delConfirm([[${achieve.achieve}]])" th:href="@{/delAchieve/}+${achieve.id}"
                                     class="btn btn-danger">删除记录</a>

                             </td>
                         </tr>
                         </tbody>
                     </table>
                 </div>

                 <!--分页-->
                 <div class="container" style="margin: auto">
                     <ul class="pagination">
                         <li class="page-item" th:if="${pageInfo.hasPreviousPage}" >
                             <a class="page-link" th:href="'/findByAchievementPage?pageNum=1'">首页</a>
                         </li>
                         <li class="page-item" th:if="${pageInfo.hasPreviousPage}">
                             <a class="page-link" th:href="'/findByAchievementPage?pageNum='+${pageInfo.prePage}">
                                 <i class="ace-icon fa fa-angle-double-left"></i>
                             </a>
                         </li>
                         <li th:each="nav:${pageInfo.navigatepageNums}" class="page-item ">
                             <a class="page-link" th:href="'/findByAchievementPage?pageNum='+${nav}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
                             <a class="page-link" style="background-color: #b0adff" th:if="${nav == pageInfo.pageNum}" th:text="${nav}" ></a>
                         </li>
                         <li th:if="${pageInfo.hasNextPage}" class="page-item">
                             <a th:href="'/findByAchievementPage?pageNum='+${pageInfo.nextPage}">

                             </a>
                         </li>
                         <li class="page-item">
                             <a class="page-link" th:href="'/findByAchievementPage?pageNum='+${pageInfo.pages}">尾页</a>
                         </li>
                     </ul>
                 </div>


             </div>
        </div>

    <!-- 添加的模态框 -->
    <div class="modal fade" id="myModal_add">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">添加实验成果</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">
                    <div class="container">
                        <form th:action="@{/addAchieve}" th:method="post">
                            <table>
                                <tr>
                                    <td>成果名称:</td>
                                    <td>
                                        <input name="achieve" required type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>奖项:</td>
                                    <td>
                                        <input name="prize" required  type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>团队类型:</td>
                                    <td>
                                        <input name="team_type" required type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>团队名称:</td>
                                    <td>
                                        <input name="team_name" required type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>团队负责人:</td>
                                    <td>
                                        <input name="team_leader" required type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>团队队员:</td>
                                    <td>
                                        <input name="team_member" required type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>负责人电话:</td>
                                    <td>
                                        <input name="mem_phone" required type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>具体内容:</td>
                                    <td>
                                        <input name="detail" required type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>汇报日期:</td>
                                    <td>
                                        <input name="time" required type="date" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>所属团队编号:</td>
                                    <td>
                                        <input name="team_id" required type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button type="submit" class="btn btn-primary">提交</button>
                                    </td>

                                </tr>

                            </table>

                        </form>
                    </div>
                </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>

            </div>
        </div>
    </div>

    </div>


</div>



<!-- javaScripts
================================================== -->
<script src="../assets/js/uikit.js"></script>
<script src="../assets/js/simplebar.js"></script>


</body>

</html>