<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>教师团队管理子系统</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

</head>

<body>
<div class="xh-main">
    <h2 style="text-align: center">成果汇报表</h2>
    <div style="width: 60%;margin-left: 13%">
        <form role="form" class="form-horizontal" style="margin-left: 25%" th:action="@{/achievement}" th:method="post">
            <div class="form-group">
                        <span class="input-group-addon">
                            <label for="achievements"><i class="fa fa-check"></i></label>
                        </span>
                <input type="text" name="achieve" class="form-control" id="achievements" placeholder="请填写成果名称">
            </div>
            <div class="form-group">
                        <span class="input-group-addon">
                            <label for="prize"><i class="fa fa-trophy"></i></label>
                        </span>
                <input type="text" name="prize" class="form-control" id="prize" placeholder="请填写奖项">
            </div>
            <div class="form-group">
                        <span class="input-group-addon">
                            <label for="teamName"><i class="fa fa-flag-o"></i></label>
                        </span>
                <input type="text" name="team_name" class="form-control" id="teamName" placeholder="请填写团队名称">
                <label class="radio-inline"><input type="radio" value="教师团队" name="team_type" checked>教师团队</label>
                <label class="radio-inline"><input type="radio" value="项目团队" name="team_type">项目团队</label>
                <label class="radio-inline"><input type="radio" value="竞赛团队" name="team_type">竞赛团队</label>
                <label class="radio-inline"><input type="radio" value="其他团队" name="team_type">其他团队</label>
            </div>
            <div class="form-group">
                        <span class="input-group-addon">
                            <ul style="list-style: none;padding-left: 0px">
                                <li><label for="applicant"><i class="fa fa-user"></i></label></li>
                            </ul>
                        </span>
                <input type="text" name="team_leader" class="form-control" id="applicant" placeholder="请填写团队负责人的姓名">
                <input type="email" class="form-control" placeholder="请填写团队负责人的邮箱">
                <input type="tel" name="mem_phone" class="form-control" placeholder="请填写团队负责人的电话">
            </div>
            <div class="form-group">
                        <span class="input-group-addon">
                            <label for="member"><i class="fa fa-group"></i></label>
                        </span>
                <textarea id="member" name="team_member" class="form-control" placeholder="请填写团队队员"  rows="4" cols="92"></textarea>

            </div>
            <div class="form-group">
                        <span class="input-group-addon">
                            <label for="content"><i class="fa fa-list-alt"></i></label>
                        </span>
                <textarea id="content" name="detail" class="form-control" placeholder="请填写具体内容"  rows="4" cols="92"></textarea>
            </div>
            <div class="form-group">
                        <span class="input-group-addon">
                            <label for="time"><i class="fa fa-calendar-o"></i></label>
                        </span>
                <input type="date" name="time" class="form-control" id="time" placeholder="请选择汇报日期">
            </div>
            <div style="text-align: center">
                <button type="submit" class="btn-primary btn" style="font-size: 18px">提交</button>
                <button type="reset" class="btn-info btn" onclick="remind2()" style="font-size: 18px">重置</button>
            </div>
        </form>
    </div>
</div>


</body>
<link th:href="@{css/xh.css}" rel="stylesheet" type="text/css" href="css/xh.css">
<link th:href="@{css/xhico.css}" rel="stylesheet" type="text/css" href="css/xhico.css">
<link th:href="@{css/main.css}" rel="stylesheet" type="text/css" href="css/main.css?tmp=23">
<link th:href="@{Font/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css" href="Font/font-awesome-4.7.0/css/font-awesome.min.css">
<script th:src="@{js/jquery.js}" src="js/jquery.js" type="text/javascript"></script>
<script th:src="@{js/xh.js}" src="js/xh.js?tmp=123" type="text/javascript"></script>
<script th:src="@{js/main.js}" src="js/main.js" type="text/javascript"></script>
<link th:href="@{http://www.jq22.com/jquery/bootstrap-3.3.4.css}" rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
<script th:src="@{http://www.jq22.com/jquery/bootstrap-3.3.4.js}" src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<script>
    function remind1() {
        alert("汇报成功！");
    }

    function remind2() {
        alert("已重置，请重新填写！");
    }
</script>
</html>