/* remove codrops styles and reset the whole thing */
#container_demo{
	 text-align: left;
	 margin: 0;
	 padding: 0;
	 margin: 0 auto;
	 font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
}

/** fonts used for the icons **/ 
@font-face {
    font-family: 'FontomasCustomRegular';
    src: url('fonts/fontomas-webfont.eot');
    src: url('fonts/fontomas-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fontomas-webfont.woff') format('woff'),
         url('fonts/fontomas-webfont.ttf') format('truetype'),
         url('fonts/fontomas-webfont.svg#FontomasCustomRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FranchiseRegular';
    src: url('fonts/franchise-bold-webfont.eot');
    src: url('fonts/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/franchise-bold-webfont.woff') format('woff'),
         url('fonts/franchise-bold-webfont.ttf') format('truetype'),
         url('fonts/franchise-bold-webfont.svg#FranchiseRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
a.hiddenanchor{
	display: none;
}
/** The wrapper that will contain our two forms **/
#wrapper{
	width: 60%;
	right: 0px;
	min-height: 560px;	
	margin: 0px auto;	
	width: 500px;
	position: relative;	
}
/**** Styling the form elements **/

/**** general text styling ****/
#wrapper a{
	color: rgb(95, 155, 198);
	text-decoration: underline;
}

#wrapper h1{
	font-size: 48px;
	color: rgb(6, 106, 117);
	padding: 2px 0 10px 0;
	font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
}
/** For the moment only webkit supports the background-clip:text; */
#wrapper h1{
    background: -webkit-repeating-linear-gradient(-45deg, 
	rgb(18, 83, 93) , 
	rgb(18, 83, 93) 20px, 
	rgb(64, 111, 118) 20px, 
	rgb(64, 111, 118) 40px, 
	rgb(18, 83, 93) 40px);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
#wrapper h1:after{
	content: ' ';
	display: block;
	width: 100%;
	height: 2px;
	margin-top: 10px;
	background: -moz-linear-gradient(left, rgba(147,184,189,0) 0%, rgba(147,184,189,0.8) 20%, rgba(147,184,189,1) 53%, rgba(147,184,189,0.8) 79%, rgba(147,184,189,0) 100%); 
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(147,184,189,0)), color-stop(20%,rgba(147,184,189,0.8)), color-stop(53%,rgba(147,184,189,1)), color-stop(79%,rgba(147,184,189,0.8)), color-stop(100%,rgba(147,184,189,0))); 
	background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
	background: -o-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
	background: -ms-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
	background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
}

#wrapper p{
	margin-bottom:15px;
}
#wrapper p:first-child{
	margin: 0px;
}
#wrapper label{
	color: rgb(64, 92, 96);
	position: relative;
}

/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder  { 
	color: rgb(190, 188, 188); 
	font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{ 
	color: rgb(190, 188, 188);
	font-style: italic;
} 
input {
  outline: none;
}

/* all the input except submit and checkbox */
#wrapper input:not([type="checkbox"]){
	width: 92%;
	margin-top: 4px;
	padding: 10px 5px 10px 32px;	
	border: 1px solid rgb(178, 178, 178);
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	  -moz-box-sizing : content-box;
	       box-sizing : content-box;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
}
#wrapper input:not([type="checkbox"]):active,
#wrapper input:not([type="checkbox"]):focus{
	border: 1px solid rgba(91, 90, 90, 0.7);
	background: rgba(238, 236, 240, 0.2);	
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
} 

/** the magic icon trick ! **/
[data-icon]:after {
    content: attr(data-icon);
    font-family: 'FontomasCustomRegular';
    color: rgb(106, 159, 171);
    position: absolute;
    left: 10px;
    top: 35px;
	width: 30px;
}

/*styling both submit buttons */
#wrapper p.button input{
	width: 30%;
	cursor: pointer;	
	background: rgb(61, 157, 179);
	padding: 8px 5px;
	font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
	color: #fff;
	font-size: 24px;	
	border: 1px solid rgb(28, 108, 122);	
	margin-bottom: 10px;	
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;	
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	   -moz-box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	        box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
}
#wrapper p.button input:hover{
	background: rgb(74, 179, 198);
}
#wrapper p.button input:active,
#wrapper p.button input:focus{
	background: rgb(40, 137, 154);
	position: relative;
	top: 1px;
	border: 1px solid rgb(12, 76, 87);	
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	   -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	        box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}
p.login.button,
p.signin.button{
	text-align: right;
	margin: 5px 0;
}


/* styling the checkbox "keep me logged in"*/
.keeplogin{
	margin-top: -5px;
}
.keeplogin input,
.keeplogin label{
	display: inline-block;
	font-size: 12px;	
	font-style: italic;
}
.keeplogin input#loginkeeping{
	margin-right: 5px;
}
.keeplogin label{
	width: 80%;
}


/*styling the links to change from one form to another */

p.change_link{
	position: absolute;
	color: rgb(127, 124, 124);
	left: 0px;
	height: 20px;
	width: 440px;
	padding: 17px 30px 20px 30px;
	font-size: 16px	;
	text-align: right;
	border-top: 1px solid rgb(219, 229, 232);
	-webkit-border-radius: 0 0  5px 5px;
	   -moz-border-radius: 0 0  5px 5px;
	        border-radius: 0 0  5px 5px;
	background: rgb(225, 234, 235);
	background: -moz-repeating-linear-gradient(-45deg, 
	rgb(247, 247, 247) , 
	rgb(247, 247, 247) 15px, 
	rgb(225, 234, 235) 15px, 
	rgb(225, 234, 235) 30px, 
	rgb(247, 247, 247) 30px
	);
	background: -webkit-repeating-linear-gradient(-45deg, 
	rgb(247, 247, 247) , 
	rgb(247, 247, 247) 15px, 
	rgb(225, 234, 235) 15px, 
	rgb(225, 234, 235) 30px, 
	rgb(247, 247, 247) 30px
	);
	background: -o-repeating-linear-gradient(-45deg, 
	rgb(247, 247, 247) , 
	rgb(247, 247, 247) 15px, 
	rgb(225, 234, 235) 15px, 
	rgb(225, 234, 235) 30px, 
	rgb(247, 247, 247) 30px
	);
	background: repeating-linear-gradient(-45deg, 
	rgb(247, 247, 247) , 
	rgb(247, 247, 247) 15px, 
	rgb(225, 234, 235) 15px, 
	rgb(225, 234, 235) 30px, 
	rgb(247, 247, 247) 30px
	);
}
#wrapper p.change_link a {
	display: inline-block;
	font-weight: bold;
	background: rgb(247, 248, 241);
	padding: 2px 6px;
	color: rgb(29, 162, 193);
	margin-left: 10px;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid rgb(203, 213, 214);
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s  linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s  linear;
	transition: all 0.4s  linear;
}
#wrapper p.change_link a:hover {
	color: rgb(57, 191, 215);
	background: rgb(247, 247, 247);
	border: 1px solid rgb(74, 179, 198);
}
#wrapper p.change_link a:active{
	position: relative;
	top: 1px;
}
/** Styling both forms **/
#register, 
#login{
	position: absolute;
	top: 0px;
	width: 88%;	
	padding: 18px 6% 60px 6%;
	margin: 0 0 35px 0;
	background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189,0.8);
	-webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	   -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	        box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	-webkit-box-shadow: 5px;
	-moz-border-radius: 5px;
		 border-radius: 5px;
}
#register{	
	z-index: 21;
	opacity: 0;
}
#login{
	z-index: 22;
}
#toregister:target ~ #wrapper #register,
#tologin:target ~ #wrapper #login{
	z-index: 22;
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-ms-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	-o-animation-delay: .1s;
	-ms-animation-delay: .1s;
	animation-delay: .1s;
}
#toregister:target ~ #wrapper #login,
#tologin:target ~ #wrapper #register{
	-webkit-animation-name: fadeOutLeft;
	-moz-animation-name: fadeOutLeft;
	-ms-animation-name: fadeOutLeft;
	-o-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft;
}

/** the actual animation, credit where due : http://daneden.me/animate/ ***/
.animate{
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	
	-moz-animation-duration: 0.5s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	
	-o-animation-duration: 0.5s;
	-o-animation-timing-function: ease;
	-o-animation-fill-mode: both;
	
	-ms-animation-duration: 0.5s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}

/** yerk some ugly IE fixes 'cause I know someone will ask "why does it look ugly in IE?", no matter how many warnings I will put in the article */

.lt8 #wrapper input{
	padding: 10px 5px 10px 32px;
    width: 92%;
}
.lt8 #wrapper input[type=checkbox]{
	width: 10px;
	padding: 0;
}
.lt8 #wrapper h1{
	color: #066A75;
}
.lt8 #register{	
	display: none;
}
.lt8 p.change_link,
.ie9 p.change_link{
	position: absolute;
	height: 90px;
	background: transparent;
}


/*公共css文件*/
.am-topbar{
	margin-bottom: 0;/*去除导航栏和Slider之间的间隙*/
}

#footer p{
	text-align: center;
	margin:5px auto;
	font-size: 14px;
}

.login-button:hover { /* 鼠标移入按钮范围时改变颜色 */
	background: #5599FF;
}
#box-table-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 600px;
	text-align: left;
	border-collapse: collapse;
}
#box-table-a th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	white-space:nowrap;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
#box-table-a td
{
	padding: 8px;
	background: #e8edff;
	border-bottom: 1px solid #fff;
	white-space:nowrap;
	color: #669;
	border-top: 1px solid transparent;
}
#box-table-a tr:hover td
{
	background: #d0dafd;
	white-space:nowrap;
	color: #339;
}
.btn {
	/* 文字颜色 */
	color: #0099CC;
	/* 清除背景色 */
	background: transparent;
	/* 边框样式、颜色、宽度 */
	border: 2px solid #b9c9fe;
	/* 给边框添加圆角 */
	border-radius: 7px;
	/* 字母转大写 */
	border: none;
	color: white;
	padding: 8px 16px;
	text-align: center;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
}
.btn {
	background-color: white;
	color: black;
	border: 2px solid #b9c9fe;
}
/* 悬停样式 */
.btn:hover {
	background-color: #008CBA;
	color: white;
}
*{margin: 0; padding: 0;}
input,button{border: 0 none;}
.search{
	width: 200px;
	height: 37px;
	border: 1px solid #e7e5e1;

	position: relative;
	border-radius: 3px;
}
.search input{
	width: 172px;
	height: 35px;
	line-height: 35px;
	outline-style: none;/*input框去掉外边蓝色边框*/
	padding-left: 5px; /* 文字距离左边框17px  加padding-left时别忘了width减去17px;*/
	color: #cccccc;
}
.search button{
	width: 28px;
	height: 37px;

	float: left;
	cursor: pointer;
	display: inline;
	position: absolute;
	right: 0;
	top: 0;
}
.am-form-horizontal .am-form-group:after, .am-nav:after, .am-topbar-collapse:after, .am-topbar:after {
	clear: both
}

.am-topbar, .am-topbar a {
	color: #666
}

.am-topbar-collapse:after, .am-topbar-collapse:before, .am-topbar:after, .am-topbar:before {
	content: " ";
	display: table
}

.am-topbar {
	position: relative;
	min-height: 50px;
	background: #f8f8f8;
	border-width: 0 0 1px;
	border-style: solid;
	border-color: #ddd
}

.am-topbar-brand a:hover {
	color: #4d4d4d
}

.am-topbar-collapse {
	width: 100%;
	overflow-x: visible;
	padding: 10px;
	clear: both;
	-webkit-overflow-scrolling: touch
}

.am-topbar-collapse.am-in {
	overflow-y: auto
}

@media only screen and (min-width: 641px) {
	.am-topbar-brand {
		float: left
	}

	.am-topbar-collapse {
		margin-top: 0;
		padding: 0;
		width: auto;
		clear: none
	}

	.am-topbar-collapse.am-collapse {
		display: block !important;
		height: auto !important;
		padding: 0;
		overflow: visible !important
	}

	.am-topbar-collapse.am-in {
		overflow-y: visible
	}
}

.am-article:after, .am-btn-group-stacked > .am-btn-group:after, .am-btn-toolbar:after, .am-comment:after, .am-divider, .am-divider-one, .am-intro-more-bottom, .am-pagination:after, .am-slider .am-slides:after, ul.am-dropdown-content > li > a {
	clear: both
}

.am-topbar-brand {
	margin: 0;
	padding: 0 10px;
	float: left;
	font-size: 1.8rem;
	height: 50px;
	line-height: 50px
}

.am-topbar-toggle {
	position: relative;
	float: right;
	margin-right: 10px
}

@media only screen and (max-width: 640px) {
	body {
		word-wrap: break-word;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto
	}

	.am-topbar-nav {
		margin-bottom: 8px
	}

	.am-topbar-nav > li {
		float: none
	}

	.am-topbar-nav > li + li {
		margin-left: 0;
		margin-top: 5px
	}
}

@media only screen and (min-width: 641px) {
	.am-topbar-toggle {
		display: none
	}

	.am-topbar-nav {
		float: left
	}

	.am-topbar-nav > li > a {
		position: relative;
		line-height: 50px;
		padding: 0 10px
	}

	.am-topbar-nav > li > a:after {
		position: absolute;
		left: 50%;
		margin-left: -7px;
		bottom: -1px;
		content: "";
		display: inline-block;
		width: 0;
		height: 0;
		vertical-align: middle;
		border-bottom: 7px solid #f8f8f8;
		border-right: 7px solid transparent;
		border-left: 7px solid transparent;
		border-top: 0 dotted;
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
		opacity: 0;
		-webkit-transition: opacity .1s;
		transition: opacity .1s
	}

	.am-topbar-nav > li > a:hover:after {
		opacity: 1;
		border-bottom-color: #666
	}

	.am-topbar-nav > li.am-dropdown > a:after {
		display: none
	}

	.am-topbar-nav > li.am-active > a, .am-topbar-nav > li.am-active > a:focus, .am-topbar-nav > li.am-active > a:hover {
		border-radius: 0;
		color: #0e90d2;
		background: 0 0
	}

	.am-topbar-nav > li.am-active > a:after {
		opacity: 1;
		border-bottom-color: #0e90d2
	}
}

@media only screen and (max-width: 640px) {
	.am-topbar-collapse .am-dropdown.am-active .am-dropdown-content {
		float: none;
		position: relative;
		width: 100%
	}

	.am-topbar-form .am-form-group {
		margin-bottom: 5px
	}
}

@media only screen and (min-width: 641px) {
	.am-topbar-left {
		float: left
	}

	.am-topbar-right {
		float: right;
		margin-right: 10px
	}

	.am-topbar-form {
		padding: 0 10px;
		margin-top: 8px
	}

	.am-topbar-form .am-form-group + .am-btn {
		margin-left: 5px
	}
}

.am-topbar-btn {
	margin-top: 8px
}

.am-topbar-inverse {
	background-color: #0e90d2;
	border-color: #0b6fa2;
	color: #eee
}

.am-topbar-inverse a {
	color: #eee
}

.am-topbar-inverse .am-topbar-brand a {
	color: #fff
}

.am-topbar-inverse .am-topbar-brand a:focus, .am-topbar-inverse .am-topbar-brand a:hover {
	color: #fff;
	background-color: transparent
}

.am-topbar-inverse .am-topbar-nav > li > a {
	color: #eee
}

.am-topbar-inverse .am-topbar-nav > li > a:focus, .am-topbar-inverse .am-topbar-nav > li > a:hover {
	color: #fff;
	background-color: rgba(0, 0, 0, .05)
}

.am-topbar-inverse .am-topbar-nav > li > a:focus:after, .am-topbar-inverse .am-topbar-nav > li > a:hover:after {
	border-bottom-color: #0b6fa2
}

.am-topbar-inverse .am-topbar-nav > li > a:after {
	border-bottom-color: #0e90d2
}

.am-topbar-inverse .am-topbar-nav > li.am-active > a, .am-topbar-inverse .am-topbar-nav > li.am-active > a:focus, .am-topbar-inverse .am-topbar-nav > li.am-active > a:hover {
	color: #fff;
	background-color: rgba(0, 0, 0, .1)
}

.am-topbar-inverse .am-topbar-nav > li.am-active > a:after, .am-topbar-inverse .am-topbar-nav > li.am-active > a:focus:after, .am-topbar-inverse .am-topbar-nav > li.am-active > a:hover:after {
	border-bottom-color: #fff
}

.am-topbar-inverse .am-topbar-nav > li .disabled > a, .am-topbar-inverse .am-topbar-nav > li .disabled > a:focus, .am-topbar-inverse .am-topbar-nav > li .disabled > a:hover {
	color: #444;
	background-color: transparent
}

.am-topbar-fixed-bottom, .am-topbar-fixed-top {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1000;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.am-topbar-fixed-top {
	top: 0
}

.am-topbar-fixed-bottom {
	bottom: 0;
	margin-bottom: 0;
	border-width: 1px 0 0
}

.am-with-topbar-fixed-top {
	padding-top: 51px
}

.am-with-topbar-fixed-bottom {
	padding-bottom: 51px
}

@media only screen and (max-width: 640px) {
	.am-topbar-collapse .am-btn, .am-topbar-collapse .am-topbar-btn {
		display: block;
		width: 100%
	}

	.am-topbar-fixed-bottom .am-topbar-collapse {
		position: absolute;
		bottom: 100%;
		margin-bottom: 1px;
		background-color: #b9c9fe
	}

	.am-topbar-fixed-bottom .am-topbar-collapse .am-dropdown-content:after, .am-topbar-fixed-bottom .am-topbar-collapse .am-dropdown-content:before {
		display: none
	}

	.am-topbar-fixed-bottom.am-topbar-inverse .am-topbar-collapse {
		background-color: #b9c9fe
	}
}

.page-normal a{
	border: 1px solid #b9c9fe;
	padding: 5px 7px;
	color: black;
	margin-left: 20px;/*设置标签 a 之间的间隔*/
	text-decoration: none;/*去除页码数字下面的下划线*/
}
/*设置鼠标经过时 a 标签的css样式*/
.page-normal a:hover{
	background-color:#b9c9fe;
}

/*设置整个div的css样式,该样式主要用于设置网页内的省略号 …… 的样式，并且同时设置内容居中显示*/
.page-normal{
	color: #b9c9fe;
	margin:20px;
}

/*设置当前页面的css样式*/
.page-normal .page-current{
	color: black;
	background-color:#b9c9fe;
}

/*设置左单括号 < 的css样式*/
.page-normal .page-prev{
	color: #b9c9fe;
}

/*进行代码优化，将不同css样式中共有的属性放在一起，有助于提高运行效率*/
.page-normal a, .page-normal a:hover, .page-normal .page-prev, .page-normal .page-current {
	border: 1px solid #b9c9fe;
	padding: 5px 7px;
}
.backbtn {
	/* 文字颜色 */
	color: #0099CC;
	/* 清除背景色 */
	background: transparent;
	/* 边框样式、颜色、宽度 */
	border: 2px solid #b9c9fe;
	/* 给边框添加圆角 */
	border-radius: 7px;
	/* 字母转大写 */
	border: none;
	color: white;
	float:right;
	padding: 8px 16px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
}
.backbtn {
	background-color: white;
	color: black;
	border: 2px solid red;
}
/* 悬停样式 */
.backbtn:hover {
	background-color: red;
	color: white;
}
*{margin: 0; padding: 0;}
input,button{border: 0 none;}